<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/assets/img/favicons/favicon-32x32.png">

    <title>Tratum</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.1/examples/floating-labels/floating-labels.css" rel="stylesheet">
  </head>

  <body>
    <form class="form-signin" method="POST" action="{% url 'process' %}">
      {% csrf_token %}
      <input type="hidden" name="document" value="{{object.id}}" />
      <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">{{object.name}}</h1>
        <p>Los siguientes campos corresponden a la información necesaria para generar un {{object.name}}</p>
      </div>

      {% for field in object.get_fields %}
        <div class="form-label-group mb-6">
          <input name="{{field.formated_slug}}" type="text" id="{{field.formated_slug}}" class="form-control" placeholder="{{field.name}}" required>
          <label for="{{field.formated_slug}}">{{field.name}}</label>
          {% if field.help_text %}
            <small>{{field.help_text}}</small>
          {% endif %}

          {% if field.youtube_help_video_link %}
            <iframe class="mb-6" width="100%" height="200" src="{{field.youtube_help_video_link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          {% endif %}
        </div>
      {% endfor %}
      
      <div class="text-center mb-4">
        <p>El {{object.name}} tiene las siguientes secciones o cláusulas, selecciona las que deseas y las que no</p>
      </div>

      {% for s in object.get_sections %}
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" name="{{s.formated_slug}}" value="{{s.content}}"> {{s.name}}
          </label>
        </div>
      {% endfor %}
     
      <input type="submit" class="btn btn-lg btn-primary btn-block" name="pdf" value="Descargar" />
      <p class="mt-5 mb-3 text-muted text-center"><a href="/">Volver</a></p>
    </form>
  </body>
</html>
