{% extends 'webclient/base.html' %}
{% load humanize %}
{% load static %}
{% load account %}
{% load i18n %}

{% block nav_class %}
    class="navbar scrolled"
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center mt-5 mb-3">
            <div class="col-12 mx-auto">
                <p class="text-center change-pass-title">Restablecer Contraseña</p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center " style="margin-left: 5px;margin-right: 5px;">
            <div class="col-md-6 pass-container pb-5">
                <div class="row justify-content-center">
                    <div class="col-3">
                        <i class="far fa-5x fa-check-circle"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="token-fail">Tu contraseña ha cambiado exitosamente, ahora puede iniciar sesión</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="text-center">
                        <a href="/" class="btn-finish">Finalizar</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}

