{% extends 'webclient/base.html' %}
{% load humanize %}
{% load static %}
{% load account %}
{% load i18n %}

{% block nav_class %}
    class="navbar scrolled"
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center mt-5 mb-3">
        <div class="col-12 mx-auto">
            <p class="text-center change-pass-title">Restablecer Contraseña</p>
            <p class="text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
    </div>
    <div class="row justify-content-center align-items-center" style="margin-left: 5px;margin-right: 5px;">
        <div class="col-md-6 pass-container">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset form-change-pass">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-12">
                        <label for="id_email">Correo Electrónico</label>
                    </div>
                    <div class="col-xs-12">
                        <input type="email" name="email" class="form-control" placeholder="Correo Electrónico" required id="id_email">
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" id="submit_pass" value="Restablecer contraseña"/>
                </div>
            </form>
            <p class="text-center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
</div>


{% endblock %}

{% block nav-script%}
{% endblock %}
