{% load humanize %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="Tratum, documentos legales online">
        <meta name="author" content="Apptitud">
        <link rel="icon" href="https://getbootstrap.com/assets/img/favicons/favicon-32x32.png">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" 
              integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" 
              crossorigin="anonymous">
        <link 
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
            integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" >
        <link rel="stylesheet" href="{% static 'css/shards.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        <link rel="stylesheet" href="{% static 'css/tratum.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-4-navbar.css' %}">
        <title>Tratum</title>
        {% block extra_css %}
        {% endblock %}
    </head>
    <body>     
        <header>
            <div class="pos-f-t">
                <div class="contextualMenu">
                    <div class="p-4">
                        <h4 class="text-white">
                            <a href="/">Inicio</a>
                        </h4>
                        <h4 class="text-white">
                            <a href="{% url 'webclient:category_documents' path='' %}">Tienda de documentos</a>
                        </h4>
                        {% if request.user.is_authenticated %}
                            <h4 class="text-white">
                                <a href="{% url 'webclient:user-documents' %}">Mis documentos</a>
                            </h4>
                            <h4 class="text-white">
                                <a href="{% url 'webclient:profile' %}">Mi cuenta</a>
                            </h4>
                        {% endif %}
                        <div class="mt-5">
                            {% if request.user.is_anonymous %}
                                <h5 class="text-white">
                                    <a data-toggle="modal" data-target="#modal-login">Iniciar sesión</a>
                                </h5></br>
                                <h5 class="text-white">
                                    <a data-toggle="modal" data-target="#modal-signup">Registrarse</a>
                                </h5>
                            {% else %}
                                <h5 class="text-white">
                                    <a href="/logout/" id="Logout">Cerrar sesión</a>
                                </h5></br>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <nav {% block nav_class %}class="navbar fixed-top bg-transparent" {% endblock %}>
                    <button class="navbar-toggler" type="button" >
                        <i class="fas fa-bars rotate"></i>
                        <a href="/">
                            <img class="logo" src="{% static 'img/logo-placeholder@2x.png' %}">
                        </a>
                    </button>                    
                    <div class="float-right main-options d-none d-lg-block">
                        <div class="dropleft">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorías <span class="divider">|</span></a>
                            <div class="dropdown-menu">
                                {% for c in context_categories %}
                                    {% include 'webclient/dropdown.html' %}
                                {% endfor %}
                            </div>
                        </div>  
                        <div class="auth-buttons">
                            {% if request.user.is_anonymous %}
                                <a data-toggle="modal" data-target="#modal-signup">Registrarse</a>
                                <a data-toggle="modal" data-target="#modal-login">Iniciar sesión</a>
                            {% else %}
                                <a href="/logout/" id="Logout">Cerrar sesión</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>  
            </div>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>


        <!-- Modal login -->
        <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div id="triangle"></div>
                            <div class="row justify-content-around">
                                <div class="col-10">
                                    <h4 class="modal-title" id="modal-label">Iniciar sesión</h4>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 30px;">
                                <div class="col-md-6 clear-fix">
                                    <a href="{% provider_login_url 'facebook' method='oauth2' next='/' %}" class="btn-fb float-left">
                                        <i class="fab fa-facebook-square"></i>
                                        Continuar con Facebook
                                    </a>
                                </div>
                                <div class="col-md-6 clear-fix">
                                    <a href="{% provider_login_url 'google' method='oauth2' next='/' %}" class="btn-gl float-right">
                                        <i class="fab fa-google"></i>
                                        Continuar con Google
                                    </a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col">
                                    <form method="POST" id="login" class="form-horizontal login" >
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="id_login" class="control-label">Correo electrónico*</label>
                                            </div>
                                            <div class="col-xs-12">
                                                <input class="form-control" type="email" name="email" data-validation="email" autofocus="autofocus" id="id_login"
                                                data-validation-error-msg="Debes ingresar un email válido" />
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="id_password" class="control-label">Contraseña*</label>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="password" class="form-control" name="password" required id="id_password"/>
                                            </div>
                                        </div>
        
                                        <p class="text-right">
                                            <a href="#modal-forget" class="forgot-pass" data-toggle="modal" data-dismiss="modal">¿Olvidaste tu contraseña?'</a>
                                        </p>
        
                                        <div class="text-center">
                                            <input type="submit" id="reg_submit" value="Iniciar sesión"/>
                                        </div>
                                                
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Signup -->
        <div class="modal fade" id="modal-signup" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div id="triangle"></div>
                            <div class="row justify-content-around">
                                <div class="col-10">
                                    <h4 class="modal-title" id="modal-label">Registro</h4>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 30px;">
                                <div class="col-md-6 clear-fix">
                                    <a href="{% provider_login_url 'facebook' method='oauth2' next='/' %}" class="btn-fb float-left">
                                        <i class="fab fa-facebook-square"></i>
                                        Continuar con Facebook
                                    </a>
                                </div>
                                <div class="col-md-6 clear-fix">
                                    <a href="{% provider_login_url 'google' method='oauth2' next='/' %}" class="btn-gl float-right">
                                        <i class="fab fa-google"></i>
                                        Continuar con Google
                                    </a>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col">
                                    <form method="POST" id="signup" class="form-horizontal">
                                        {% csrf_token %}
        
                                        <input type="hidden" name="username">
                        
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label class="control-label">Correo Electrónico *</label>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="text" required class="form-control" name="email" 
                                                data-validation="email" data-validation-error-msg="Debes ingresar un email válido"/>
                                            </div>
                                        </div>
                                        <br>
                        
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label class="control-label">Contraseña *</label>
                                            </div>
                                            <div class="col-xs-12">
                                                <input required type="password" class="form-control" name="password1" id="password1"/>
                                                <span id="result"></span>
                                            </div>
                                            
                                        </div>
                                        <br>
                        
                                        <div class="form-group mb-3">
                                            <div class="col-xs-12">
                                                <label class="control-label"> Repetir Contraseña *</label>
                                            </div>
                                            <div class="col-xs-12">
                                                <input required type="password" class="form-control"  
                                                name="password2" id="password2"/>
                                                <span id="valid"></span>
                                            </div>
                                        </div>
                                        <div class="float-right">
                                            <span style="font-size: 0.8em;color: red;">Los campos con * son obligatorios</span>
                                        </div>
        
                                        <div class="terms-conditions mt-5">
                                            <input type="checkbox" id="terms" style="display:inline">
                                            <label for="terms" style="color: #929292;display:inline;font-weight: 100;">
                                            Para continuar debes aceptar las 
                                            <a href="{% url 'webclient:policies' 'privacy' %}" target="_blank" class="signup_terms"><strong>Políticas de tratamiento de datos</strong> </a>de <strong>TRATUM S.A.S</strong>
                                        </div>
        
                                        <input type="hidden" name="username" />
                        
                                        <div class="text-center">
                                            <input type="submit" disabled id="reg_submit_signup" value="Registrarse"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Forget Pass -->
        <div class="modal fade" id="modal-forget" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div id="triangle"></div>
                            <div class="row justify-content-around">
                                <div class="col-10">
                                    <h4 class="modal-title" id="modal-label">Recuperar contraseña</h4>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col">
                                    <form method="POST" id="forget" class="form-horizontal">
                                        {% csrf_token %}
                                        
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label class="control-label">Correo Electrónico*</label>
                                            </div>
                                            <div class="col-xs-12">
                                                <input type="text" class="form-control" name="email"
                                                data-validation="email" data-validation-error-msg="Debes ingresar un email válido"/>
                                            </div>
                                        </div>
    
                                        <p class="text-right">
                                            <a href="#modal-login" class="forgot-pass" data-toggle="modal" data-dismiss="modal">Iniciar sesión</a>
                                        </p>

                                        <p class="text-center" style="font-size: 0.8em;color: #999">
                                            Ingresa tu correo electrónico y se te enviará un link para la recuperación de tu contraseña,
                                        </p>
                        
                                        <div class="text-center">
                                            <input type="submit" id="reg_submit_forget" value="Enviar"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 faq">
                        <i class="fas fa-question-circle"></i>
                        <a href="#">
                            FAQ
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-3 link-col">
                        <a href="{% url 'webclient:about-us' %}">
                            Quienes somos 
                        </a>
                        <a href="/policies/" >
                            Dinos que documentos necesitas
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-3 link-col">
                        <a href="{% url 'webclient:policies' 'privacy' %}">
                            Políticas de uso 
                        </a>
                        <a href="{% url 'webclient:policies' 'terms' %}">
                            Terminos y condiciones 
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-3 social text-right">
                        <a href="#" class="text-white">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="col text-center">
                    <span>Tratum 2018 - Powered by 
                        <a href="http://www.apptitud.co" target="_blank" class="underline">
                            <strong>Apptitud</strong>
                        </a>
                    </span>
                </div>
            </div>
        </footer>        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="{% static 'js/jquery-validator.js' %}"></script>
        <script src="{% static 'js/shards.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-4-navbar.js' %}"></script>
        <script>
            $.validate({
                modules : 'html5',
            });
        </script>

        {% if messages  %}
            {% for message in messages %}
                <script>
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "1000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info('{{message}}')
                </script>
            {% endfor %}
        {% endif %}
        
        <script type="text/javascript">
            function checkStrength(password) {
                var strength = 0
                if (password.length < 6) {
                    $('#result').removeClass()
                    $('#result').addClass('short')
                    $('#reg_submit_signup').attr('disabled', true)

                    return 'Muy corta'
                }
                if (password.length > 7) strength += 1
                // If password contains both lower and uppercase characters, increase strength value.
                if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
                // If it has numbers and characters, increase strength value.
                if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
                // If it has one special character, increase strength value.
                if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
                // If it has two special characters, increase strength value.
                if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
                // Calculated strength value, we can return messages
                // If value is less than 2
                if (strength < 2) {
                    $('#result').removeClass()
                    $('#result').addClass('weak')
                    $('#reg_submit_signup').attr('disabled', true)
                    return 'Débil'
                } else if (strength == 2) {
                    $('#result').removeClass()
                    $('#result').addClass('good')
                    return 'Buena'
                } else {
                    $('#result').removeClass()
                    $('#result').addClass('strong')
                    return 'Fuerte'
                    }
            }
            
            function checkValid(password1, password2){
                if (password1 != password2){
                    $('#valid').removeClass()
                    $('#valid').addClass('nopass')
                    $('#reg_submit_signup').attr('disabled', true)
                    return 'Las contraseñas no coinciden'
                }
                else{
                    $('#valid').removeClass()
                    $('#reg_submit_signup').attr('disabled', false)
                    return ''
                }
            }
            
            $(document).ready(function() {
                $('.navbar-toggler').on('click', function(){
                    $('.rotate').toggleClass("down");
                    $('.contextualMenu').slideToggle();
                })
                {% block nav-script%}
                    $(window).scroll(function(){
                        var scroll = $(window).scrollTop();
                        if (scroll > 100) {
                            $(".navbar").addClass('scrolled');
                        }
                        else{
                            $(".navbar").removeClass('scrolled');
                        }
                    })
                    $('#password1').keyup(function() {
                        $('#result').html(checkStrength($('#password1').val()))
                    })
                    $('#password2').keyup(function() {
                        $('#valid').html(checkValid($('#password1').val(), $('#password2').val()))
                    })
                {% endblock %}
                
            });

            axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}'
            axios.defaults.headers.common['Api-Key'] = '{{Api_Key}}'
            
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            $("#login").on('submit', function(ev){
                ev.preventDefault()
                data = new FormData($(this)[0])
                axios.post("{% url 'webclient:login' %}", data)
                    .then(function(response){
                        if (response.data.length > 0){
                            window.location.href = response.data
                        }
                    })
                    .catch(function(error){
                        console.log(error.response.data.error)
                        toastr.error(error.response.data.error)
                    });
            })

            $("#signup").on('submit', function(ev){
                ev.preventDefault()
                if (!$("#terms").is(':checked') ) {
                    
                    toastr.error("Debes aceptar los Términos y Condiciones y las Políticas de tratamiento de datos para terminar el proceso de registro")
                    $('#reg_submit_signup').attr('disabled', false);
                    return false;
                }
                $('#reg_submit_signup').attr('disabled', true)
                data = new FormData($(this)[0])
                axios.post("{% url 'webclient:signup' %}", data)
                    .then(function(response){
                        console.log(response.data)
                        if (response.data.length > 0){
                            window.location.replace(response.data)
                        }
                    })
                    .catch(function(error){
                        toastr.error(error.response.data.error)
                        $('#reg_submit_signup').attr('disabled', false)
                    });

            })

            $("#forget").on('submit', function(ev){
                ev.preventDefault()
                $('#reg_submit_forget').attr('disabled', true)
                data = $(this).serialize(),
                axios.post("/accounts/password/reset/", data)
                    .then(function(response){
                        toastr.success("Se ha enviado un correo con el link de restablecimiento de tu contraseña.")
                        setTimeout(function(){
                            location.reload()
                        }, 1500);
                    })
                    .catch(function(error){
                        console.log(error)
                        toastr.error("El correo electrónico no se encuentra registrado")
                        $('#reg_submit_signup').attr('disabled', false)
                    });
        })
        </script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>