<a class="dropdown-item" href="#">
    <div class="droprigth subdrop">
        <a
            {% if c.get_children %}
                class="dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
            {% else %}
                href="{{c.get_absolute_url}}"
            {% endif %}>{{c.name}}</a>
            {% if c.get_children %}
                <div class="dropdown-menu">
                    {% for c in c.get_children %}
                        {% include 'webclient/dropdown.html' %}
                    {% endfor %}
                </div>
            {% endif %}
    </div>
</a>