{% extends 'webclient/base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="icon" href="https://cdn.crunchify.com/favicon.ico">
{% endblock %}

{% block content %}
  <div class="modal fade" id="homeVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog large" role="document">
      <i class="fas fa-times-circle" data-dismiss="modal"></i>
      <div class="modal-content">
        <div class="modal-body">
          <iframe width="100%" height="500px" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div id="loadingAnimation">
    <img src="{% static 'img/loadingSite.gif' %}" />
    <p>Cargando...</p>
  </div>

  <div class="swiper-container">   
    <div class="swiper-wrapper">        
      {% for s in context_slides %}
        <div class="swiper-slide">
          <div class="swiper-mask-left"></div>  
          <div class="swiper-mask-right"></div> 
          <div class="description text-center">
            <h1>{{s.text|default_if_none:""}}</h1>
            <p>{{s.description|default_if_none:""}}</p>
            {% if s.youtube_video_link %}
              <a class="video-trigger" data-toggle="modal" data-target="#homeVideoModal" data-embed="{{s.youtube_video_link}}">
                <i class="fas fa-play-circle"></i>
              </a>
            {% endif %}
          </div>
          <img src="{{s.image.url}}">
        </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>  
    <div class="search-landing">
      <input type="search" placeholder="Buscar documentos..." id="search_documents">
      <div id="result-list">
        
      </div>
    </div>  
  </div>  

  <div class="row categories">
    <div class="col-md-6 order-1 category-parallax" style="background-image: url('/static/img/c1.jpg');">
    </div>
    <div class="col-md-6 order-2 category-description">      
      <div class="container">
          <h2>Creación de empresa</h2>
          <p>¡Es hora de crear tu empresa! En Tratum te ayudamos con la creación de los estatutos a la medida para la formalización de tu empresa.
            En esta sección encontrarás todos los documentos necesarios para el registro de la sociedad ante la Cámara de Comercio de tu ciudad.</p>
          <a class="action-button__primary" href="/documents/creacion-de-empresa-23/">Ver más</a>
      </div>      
    </div>
  </div>

  <div class="row categories">
    <div class="col-md-6 order-2 order-md-1 category-description left">      
        <div class="container">
          
            <h2>Gestión contractual</h2>
            <p>¡Es hora de buscar relaciones a largo plazo! En Tratum te ayudamos con la creación de contratos a la medida para brindar seguridad en tus relaciones con proveedores, clientes y empleados. 
              En esta sección encontrarás contratos laborales, de prestación de servicios y comerciales para que la disminuir el riesgo de operación de tu empresa.</p>
            <a class="action-button__primary" href="/documents/gestion-contractual-22/">Ver más</a>
        </div>      
      </div>
    <div class="col-md-6 order-1 order-md-2 category-parallax" style="background-image: url('/static/img/c2.jpg');">
    </div>      
  </div>

  <div class="row categories">
    <div class="col-md-6 order-1 category-parallax" style="background-image: url('/static/img/c3.jpg');">
    </div>
    <div class="col-md-6 order-2 category-description">      
      <div class="container">
          <h2>Gestión empresarial</h2>
          <p>¡Es hora de organizar la casa! En Tratum te ayudamos con la creación de diferentes documentos legales exigidos por la ley colombiana para que una empresa opere de manera legal. 
            En esta sección encontrarás todos los documentos relacionados con libros oficiales, actas de Asamblea General y Junta Directiva, política de protección de datos personales, entre otros.</p>
          <a class="action-button__primary" href="/documents/gestion-empresarial/">Ver más</a>
      </div>      
    </div>
  </div>

  <div class="row categories">
    <div class="col-md-6 order-2 order-md-1 category-description left">      
        <div class="container">
            <h2>Negocios y asuntos personales</h2>
            <p>¡Es hora de cuidar tus asuntos personales! En Tratum te ayudamos con la creación de documentos legales importantes para tu vida diaria y personal. 
              En esta sección encontrarás contratos de arrendamiento de vivienda, derechos de petición, cartas, entre otros.</p>
            <a class="action-button__primary" href="/documents/negocios-y-asuntos-personales/">Ver más</a>
        </div>      
      </div>
    <div class="col-md-6 order-1 order-md-2 category-parallax" style="background-image: url('/static/img/c4.jpg');">
    </div>      
  </div>
  
  <div class="row categories how-to">
    <div class="col-md-8 category-description left">      
        <div class="container">
            <h2>Cómo crear un documento</h2>
            <ul>
              <li>
                <span class="indicator">1</span>
                <span>Iniciar sesión o registrarte en nuestra plataforma.</span> 
              </li>
              <li>
                <span class="indicator">2</span>
                <span>Ingresar a nuestros documentos y seleccionar el que necesitas.</span> 
              </li>
              <li>
                <span class="indicator">3</span>
                <span>Si el documento no es gratuito, debes realizar el pago antes de diligenciarlo.</span> 
              </li>
              <li>
                <span class="indicator">4</span>
                <span>Diligencia el formulario, tendrás la oportunidad de previsualizarlo.</span> 
              </li>
              <li>
                <span class="indicator">5</span>
                <span>Exportalo a formato PDF o DOC.</span> 
              </li>
            </ul>
        </div>      
      </div>
    <div class="col-md-4">
        <div class="container-flex flex-column justify-content-center" style="padding-right: 25%; padding-top: 15%;">
            <img src="{% static 'img/steps.png' %}" width="100%" />
        </div>   
      
    </div>      
  </div>

  <div class="row contract-info p-3">
    <div class="col-md-6">
      <img src="{% static 'img/Web2-40.png' %}" width="100%" />
    </div>    
    <div class="col-md-6">      
      <div class="container-flex flex-column justify-content-center" style="margin-top: 25px;">
        <h2>¿Por qué construir un contrato responsablemente?</h2>
        <p>{{landing_contract_info}}</p>
        <a class="action-button__primary" href="/documents/">Ver documentos</a>
      </div>       
    </div>
  </div>  

  <!--
  <div class="row bundles">
    <div class="container">
      <div class="col text-center">
        <div class="container">
            <h2>Paquetes</h2>
            <span class="counter">{{context_bundle_count}} disponibles</span>
            <p>{% lorem 1 p %}</p>
        </div>
        <div class="row">
          {% for i in context_bundles %}
            <div class="col-lg-4 h-50">
                <div class="bundle 
                  {% if forloop.counter == 2 %}
                    dark-blue
                  {% else %}
                    {% if forloop.counter == 3 %}
                      light-yellow
                    {% endif %}
                  {% endif %}">
                  <span class="name">{{i.name}}</span>
                  <span class="pricetag">${{i.price|intcomma}}</span>
                  <div class="documents">
                    <span class="title">Documentos del paquete</span>
                    {% for d in i.documents.all %}
                      <span class="document">{{d.name}}</span>
                    {% endfor %}
                  </div>
                  
                  {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'store:checkout' %}">
                      {% csrf_token %}
                      <input type="hidden" name="pack_id" value="{{i.id}}">
                      <button type="submit" class="btn btn-primary">Comprar</button>
                    </form>
                  {% else %}
                    <button data-toggle="modal" data-target="#modal-login" class="btn btn-primary">Comprar</button>
                  {% endif %}
                </div>
            </div>
          {% endfor %}
        </div>      
      </div>
    </div>
  </div>
  -->
  <div class="row contact-form">
    <div class="col text-center">
      <h5 class="text-white">Contáctanos</h5>
      <form action="{% url 'webclient:contact-form' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input required name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre">
        </div>
        <div class="form-group">
          <input required name="email" type="email" class="form-control" id="exampleInputPassword1" placeholder="Correo electrónico">
        </div>
        <div class="form-group">
          <textarea required name="message" class="form-control" placeholder="Mensaje"></textarea>
        </div>
        <div class="g-recaptcha" data-sitekey="6LfIX3UUAAAAAOginHOV0GQhjDO0j9zCNS0d7ZPi"></div>
        <div class="form-group">
          <button type="submit" class="action-button__primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
  <!--
  <div class="row corporate-signature">
    <div class="col text-center">
      <span>Con el respaldo jurídico de <a href="https://gonzalezaldana.com/"><img src="{% static 'img/gonzales-aldana-logos-08.png' %}" width="120px"/></span></a>
    </div>
  </div>
  -->
  <div class="cookiepolicy-info">
    <span>Al navegar en nuestro sitio, consideramos que aceptas nuestra 
      <strong>
        <a href="{% url 'webclient:policies' 'cookies' %}" target="_blank" class="underline">política de tratamiento de cookies</a>.
      </strong>
    </span>
    <button class="cookiepolicy-close">Aceptar</button>
  </div>
{% endblock %}

{% block extra_js %}
    <script>    
      window.onload = function(){ document.getElementById("loadingAnimation").style.display = "none" }   
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
    <script
    src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"
    integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
    <script>
      window.scrollTo(0, 0);


      

      var mySwiper = new Swiper ('.swiper-container', {
          direction: 'horizontal',
          loop: true,
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          pagination: {
            el: '.swiper-pagination',
          },
          autoplay: {
            delay: 5000,
          }
      })

      $('.swiper-mask-left').on('click', function(){
        mySwiper.slidePrev();
      })

      $('.swiper-mask-right').on('click', function(){
        mySwiper.slideNext();
      })
      
      $('.video-trigger').on('click', function(event) {
        var embedUrl = $(this).data('embed'); 
        var modal = $('#homeVideoModal');
        modal.find('iframe').attr('src', embedUrl);
      })

      $('.cookiepolicy-close').on('click', function(){
        $('.cookiepolicy-info').hide();
      })
      
      var list = {
        url: "{% url 'document_manager:main-document-list' %}",
        getValue: "name",
        list: {
          match: {
            enabled: true
          },
          onSelectItemEvent: function() {
            var value = $("#search_documents").getSelectedItemData().name;
            window.location.href = `/documents?q=${value}`
          }
        }
      }

      $("#search_documents").easyAutocomplete(list);

      $('#search_documents').on('keyup', function(e){
        if (e.keyCode === 13) {
          window.location.href = `/documents?q=${$(this).val()}`
        }
      })

      function cookieChecker() {
        if (document.cookie.replace(/(?:(?:^|.*;\s*)cookiePolicyAccepted\s*\=\s*([^;]*).*$)|^.*$/, "$1") !== "true") {
          $('.cookiepolicy-info').show();
          document.cookie = "cookiePolicyAccepted=true; expires=Fri, 31 Dec 9999 23:59:59 GMT";
        }
      }
      
      

      cookieChecker();
    </script>
{% endblock %}