{% extends 'webclient/base.html' %}
{% load static %}

{% block title %}
        <title>Tratum, {{name}}</title>
{% endblock %}

{% block index_extra-styles %}
    background: none;
    min-height: initial;
    padding-bottom: 40px;
{% endblock %}

{% block index_actions %}
    
{% endblock %}

{% block index_thumb %}{% endblock %}

{% block content %}

  <br>
  <br>
  <main>
    <section>
      
      <div class="container">
        <div class="row my-5">
          <div class="col-12">
            <h1 class="text-center">{{name}}</h1>
          </div>
          
        </div>
        
        <div class="row text-justify">
          {{content}}
        </div>        
      </div>
    </section>
  </main>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}