{% extends 'webclient/base.html' %}
{% load static %}

{% block nav_class %}
    class="navbar scrolled"
{% endblock %}

{% block title %}
        <title>Tratum, {{name}}</title>
{% endblock %}

{% block nav-script%}
{% endblock %}

{% block content %}

  <br>
  <br>
  <main>
    <section>
      
      <div class="container">
        <div class="row my-5">
          <div class="col-12">
            <h1 class="text-center">{{name}}</h1>
          </div>
          
        </div>
        
        <div class="row text-justify">
          {{content}}
        </div>        
      </div>
    </section>
  </main>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}