{% extends 'webclient/base.html' %}
{% load humanize %}
{% load static %}

{% block nav_class %}
    class="navbar scrolled"
{% endblock %}

{% block content %}

<div class="container profile mt-5">
    <div class="row content-row">
        <div class="col-12 mb-4 text-center">
            <h1>Perfil</h1>               
        </div>
    </div>
    <div class="row mb-5">
        <div class="container-fluid profile-content">
            <div class="row p-2 mt-2 mb-5">
                <div class="col-12 col-lg-3 image-content">
                    <div class="row justify-content-center">
                        <div class="col-12 mx-auto mb-3">
                            {% if request.user.logo %}
                                <img class="img-profile mb-3 mx-auto d-block" src="{{request.user.logo}}" alt="Card image cap">
                            {% else %}
                                <img class="img-profile mb-3 mx-auto d-block" src="{% static '/img/avatar.png' %}" alt="Card image cap">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9 mb-4">
                    <div class="row mb-4">
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="profile_name">Nombre</label>
                                <a class="float-right btn-edit" href="#" data-toggle="modal" data-target="#modal-name">Editar</a>
                                <input type="email" class="form-control" readonly id="profile_name" placeholder="{{request.user.first_name|default:"Sin Nombre"}}">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="profile_email">Correo Electrónico</label>
                                <a class="float-right btn-edit" href="#" data-toggle="modal" data-target="#modal-email">Editar</a>
                                <input type="email" class="form-control" readonly id="profile_email" placeholder="{{request.user.email}}">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="profile_password">Contraseña</label>
                                <a class="float-right btn-edit" href="#" data-toggle="modal" data-target="#modal-password">Editar</a>
                                <input type="password" class="form-control" readonly id="profile_password" placeholder="***********">
                            </div>
                        </div>
                                
                    </div>
                    
                </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="row p-2 mt-2 mb-2">
                <div class="col-12 mb-4">
                    <div class="row mb-3 ml-2">
                        <div class="col-12">
                            <span class="company-info">Datos Empresa</span>
                            <button class="btn-action-company float-right" data-toggle="modal" data-target="#modal-company">Editar</button>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="profile_company_name">Nombre empresa</label>
                                <input type="text" class="form-control" readonly id="profile_company_name" placeholder="{{request.user.company|default:"Sin nombre"}}">
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="profile_company_employees">Número Empleados</label>
                                <input type="text" class="form-control" readonly id="profile_company_employees" placeholder="{{request.user.company.get_employees_number_display|default:"Sin empleados"}}">
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="profile_company_sector">Sector</label>
                                <input type="text" class="form-control" readonly id="profile_company_sector" placeholder="{{request.user.company.sector.name|default:"Sin sector"}}">
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label for="profile_company_description">Descripción</label>
                                <textarea class="form-control" readonly id="profile_company_description" placeholder="{{request.user.company.description|default:"Sin descripción"}}" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                        
                                
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar Nombre -->
<div class="modal fade" id="modal-name" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edita tu nombre</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="name_form" class="form-horizontal" >
                <div class="form-group">
                    <label for="first_name">Nombre</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="{{request.user.first_name}}">
                </div>
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-action">Guardar</button>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- Modal Editar Correo -->
<div class="modal fade" id="modal-email" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cambia tu correo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" id="email_form">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{request.user.pk}}">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Email antetior:</label>
                    <input type="email" class="form-control" name="old_email" maxlength="100"
                        readonly placeholder="{{request.user.email}}" value="{{request.user.email}}"/>
                </div>
                <br>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nuevo Email:</label>
                    <input type="email" class="form-control" name="email" maxlength="100"
                        data-validation="email" id="email1"
                        data-validation-error-msg="Debes ingresar un email válido"/>
                </div>
                <br>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Confirmar Email:</label>
                    <input type="email" class="form-control" name="email2" maxlength="100"
                        id="email2" autocomplete="off"/>
                    <span id="validEmail"></span>
                </div>
            
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancaler</button>
                <button type="submit" id="change_email_submit" class="btn btn-action">Guardar</button>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- Modal Editar contraseña -->
<div class="modal fade" id="modal-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cambia tu contraseña</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" id="password_form" class="form-horizontal">
                {% csrf_token %}
                <input type="hidden" name="email" value={{request.user.email}}>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label">Tu contraseña actual</label>
                    </div>
                    <div class="col-xs-12">
                        <input required type="password" class="form-control" name="old_password"/>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-xs-12">
                        <label class="control-label">Nueva contraseña</label>
                    </div>
                    <div class="col-xs-12">
                        <input required type="password" class="form-control" name="password" id="password_1"/>
                        <span id="result"></span>
                    </div>
                </div>
                <br>

                <div class="form-group mb-3">
                    <div class="col-xs-12">
                        <label class="control-label"> Repetir Contraseña</label>
                    </div>
                    <div class="col-xs-12">
                        <input required type="password" class="form-control"  
                        name="password2" id="password_2"/>
                        <span id="valid"></span>
                    </div>
                </div>

            
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="Submit" disabled="disabled" id="submit_pass" class="btn btn-action">Guardar</button>
            </form>
        </div>
        </div>
    </div>
</div>

<!-- Modal Editar Empresa -->
<div class="modal fade" id="modal-company" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edita los datos de tu empresa</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="company_form" class="form-horizontal" >
                {% csrf_token %}
                <input type="hidden" name="pk" value={{request.user.pk}}>
                <div class="form-group">
                    <label for="company_name">Nombre empresa</label>
                    <input type="text" class="form-control" id="company_name" name="name" value="{{request.user.company.name}}">
                </div>
                <div class="form-group">
                    <label for="employees_number">Número de empleados</label>
                    <select class="form-control" id="employees_number" name="employees_number">
                        <option disabled value="">Selecciona el número de empleados</option>
                        <option value="1">Menos de 10</option>
                        <option value="2">Entre 10 y 20</option>
                        <option value="3">Entre 20 y 50</option>
                        <option value="4">Más de 50</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="sector_company">Sector</label>
                    <select class="form-control" id="sector_company" name="sector">
                        
                    </select>
                </div>
                <div class="form-group">
                    <label for="company_description">Descripción</label>
                    <textarea class="form-control" name="description" id="company_description" rows="3" value="{{request.user.company.description}}">{{request.user.company.description}}</textarea>
                </div>
            
        </div>
        <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-action">Guardar</button>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock%}

{% block nav-script%}
{% endblock %}

{% block extra_js %}

    <script type="text/javascript">
        function checkStrength(password) {
            var strength = 0
            if (password.length < 6) {
                $('#result').removeClass()
                $('#result').addClass('short')
                $('#submit_pass').attr('disabled', true)

                return 'Muy corta'
            }
            if (password.length > 7) strength += 1
            // If password contains both lower and uppercase characters, increase strength value.
            if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
            // If it has numbers and characters, increase strength value.
            if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
            // If it has one special character, increase strength value.
            if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
            // If it has two special characters, increase strength value.
            if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
            // Calculated strength value, we can return messages
            // If value is less than 2
            if (strength < 2) {
                $('#result').removeClass()
                $('#result').addClass('weak')
                $('#submit_pass').attr('disabled', true)
                return 'Débil'
            } else if (strength == 2) {
                $('#result').removeClass()
                $('#result').addClass('good')
                return 'Buena'
            } else {
                $('#result').removeClass()
                $('#result').addClass('strong')
                return 'Fuerte'
                }
        }
        
        function checkValid(password1, password2){
            if (password1 != password2){
                $('#valid').removeClass()
                $('#valid').addClass('nopass')
                $('#submit_pass').attr('disabled', true)
                return 'Las contraseñas no coinciden'
            }
            else{
                $('#valid').removeClass()
                $('#submit_pass').attr('disabled', false)
                return ''
            }
        }

        function checkEmailValid(email1, email2){
            if (email1 != email2){
                $('#validEmail').removeClass()
                $('#validEmail').addClass('nopass')
                $('#change_email_submit').attr('disabled', true)
                return 'Los correos no coinciden'
            }
            else{
                $('#validEmail').removeClass()
                $('#change_email_submit').attr('disabled', false)
                return ''
            }
        }

        $('#password_1').keyup(function() {
            $('#result').html(checkStrength($('#password_1').val()))
        })
        $('#password_2').keyup(function() {
            $('#valid').html(checkValid($('#password_1').val(), $('#password_2').val()))
        })

        $('#email2').keyup(function() {
            $('#validEmail').html(checkEmailValid($('#email1').val(), $('#email2').val()))
        })

        $("#name_form").on('submit', function(ev){
            ev.preventDefault()
            data = new FormData($(this)[0])
            axios.patch("{% url 'api:users:user_name_update' pk=request.user.pk %}", data)
                .then(function(response){
                    toastr.success("Se ha actualizado la información exitosamente")
                    setTimeout(function(){
                        $('#modal-name').modal('toggle')
                        location.reload()
                    }, 1000);
                })
                .catch(function(error){
                    console.log(error.response.data.error)
                    toastr.error(error.response.data.error)
                });
        })

        $("#email_form").on('submit', function(ev){
            ev.preventDefault()
            console.log("Submit")
            data = $(this).serialize()
            axios.patch("{% url 'api:users:user_change_email' %}", data)
                .then(function(response){
                    toastr.success("Se ha actualizado tu correo exitosamente")
                    setTimeout(function(){
                        $('#modal-email').modal('toggle')
                        location.reload()
                    }, 1000);
                })
                .catch(function(error){
                    console.log(error.response.data.error)
                    toastr.error(error.response.data.error)
                });
        })

        $("#password_form").on('submit', function(ev){
            ev.preventDefault()
            data = $(this).serialize()
            axios.patch("{% url 'api:users:user_change_password' %}", data)
                .then(function(response){
                    toastr.success("Se ha actualizado tu contraseña exitosamente")
                    toastr.success("Por favor inicia sesión nuevamente")
                    setTimeout(function(){
                        $('#modal-password').modal('toggle')
                        location.reload()
                    }, 1000);
                })
                .catch(function(error){
                    console.log("Error")
                    console.log(error.response.data)
                    toastr.error(error.response.data)
                });
        })

        $("#company_form").on('submit', function(ev){
            ev.preventDefault()
            console.log("Submit")
            data = new FormData($(this)[0])
            axios.post("{% url 'api:users:company_update' %}", data)
                .then(function(response){
                    toastr.success("La compañía se actualizó correctamente")
                    setTimeout(function(){
                        $('#modal-company').modal('toggle')
                        location.reload()
                    }, 1000);
                })
                .catch(function(error){
                    console.log("Error")
                    console.log(error.response.data)
                    toastr.error(error.response.data)
                });
        })

        function get_sector_list(sector_id){
            axios.get("{% url 'api:users:sector_list' %}")
            .then(function(response){
                $('#sector_company').empty()
                $(response.data).each(function(i,v){
                    if (v.id == sector_id){
                        $('#sector_company').append(
                            `
                                <option value='${v.id}' selected>${v.name}</option>
                            `
                        )
                    }
                    else {
                        $('#sector_company').append(
                            `
                                <option value='${v.id}'>${v.name}</option>
                            `
                        )
                    }
                })
            })
            .catch(function(error){
                console.log("Error")
                console.log(error.response.data)
                toastr.error(error.response.data)
            });
        }


        $(document).ready(function(){
            sector_id = '{{request.user.company.sector.id}}'
            get_sector_list(sector_id)

            employees = '{{request.user.company.employees_number}}'

            $('#employees_number').find(`option[value=${employees}]`).attr('selected', true)
        })


    </script>

{% endblock %}
