{% extends 'webclient/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/" method="POST">
                    <input type="email" name="email" placeholder="Email">
                    <input type="password" name="password"  placeholder="Contraseña">
                    <input type="checkbox">Aceptar <a href="/policies/">términos y condiciones</a></input>
                </form>
            </div>
        </div>
    </div>
{% endblock %}