{% extends 'webclient/base.html' %}
{% load static %}

{% block nav_class %}
    class="navbar scrolled"
{% endblock %}

{% block title %}
  <title>Tratum, {{name}}</title>
{% endblock %}

{% block nav-script%}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="flow-text">{{ terms_name }}</h2>
        <p id="police">
            {{ terms_content|safe }}
        </p>
    </div>
    <div class="container">
        <h2 class="flow-text">{{ police_name }}</h2>
        <p id="police">
            {{ police_content|safe }}
        </p>
    </div>
    <br>
    <div class="container mt-3 mb-5">
        <div class="row">
            <div class="col s12">
                <div class="terms-conditions">
                    <input type="checkbox" id="terms">
                    <label for="terms" style="color:#000;">
                    Para continuar usted debe aceptar los Términos y condiciones y la Politica de tratamientode datos de <strong>Tratum</strong>
                </div>
                <br>
                <a class="btn" href="{% url 'webclient:logout' %}">Cerrar Sesión</a>
                <button class="btn btn-accept" id="accept_terms">Continuar</button>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.10/dist/sweetalert2.all.min.js"></script> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
        console.log("Loaded script")
        $(document).ready(function() {
            console.log("Doc ready")
            swal({
                title: "¡Atención!",
                icon : "warning",
                text: "Antes de continuar primero debes aceptar los Términos y Condiciones y las Políticas de tratamiento de datos",
                button: {
                    text: "Aceptar",
                    className: "btn-accept",
                },
                
            });
        });

        (function($) {
            $("#accept_terms").click(function(){

                if (!$("#terms").is(':checked')) {
                    swal({
                        title: "¡Atención!",
                        icon : "warning",
                        text: "Debes aceptar los Términos y Condiciones y las Políticas de tratamiento de datos para terminar el proceso de registro",
                        button: {
                            text: "Aceptar",
                            className: "btn-accept",
                        },
                    });
                    return false;
                }
                else {
                    $.ajax({
                        url: "{% url 'api:users:user-detail' %}",
                        headers: {'Api-Key': '{{Api_Key}}',
                                  'Authorization': 'Token {{user_token}}' },
                        type: 'PATCH',
                        data: {
                            'terms_and_conditions':true,
                        },
                        success: function(data) {
                            swal({
                                title: "Muy Bien!",
                                text: "Ahora puedes continuar buscando tus documentos",
                                icon: "success",
                              })
                              .then((value) => {
                                window.location.href = "{% url 'webclient:category_documents' path='' %}"
                              });
                        },
                        error: function(data){
                            json = JSON.parse(data.responseText);
                            swal("Atención", json[0].detail, "error");
                        }
                    });
                }
            });
        })(jQuery);
    </script>
{% endblock %}  