
{% if field.is_text_input %}
    <div class="input-block">
        <div class="label col clearfix">
            <span class="float-left">{{forloop.counter}}. {{field.display_name}} </span>
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right" data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>        
        <div class="input-control col">
            <input required name="{{field.formated_slug}}" type="{{field.get_html_input_type}}" id="{{field.formated_slug}}" class="required" autocomplete="off">
        </div>             
        {% if field.youtube_help_video_link %}
            <div class="col">
                <a href="#" data-toggle="modal" data-target="#videoModal" data-url="{{field.youtube_help_video_link}}">Ver video</a>
            </div>
        {% endif %}    
    </div>        
{% elif field.field_type == field.SELECT %}
    <div class="input-block">
        <div class="label col clearfix">
            <span class="float-left">{{forloop.counter}}. {{field.display_name}} </span>
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right" data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>   
        <div class="input-control col">
            <select>
                <option selected disabled>Selecciona un elemento de la lista</option>
                {% for f in field.documentfieldoption_set.all %}
                    <option value="{{f.name}}">{{f.name}}</option>
                {% endfor %}                
            </select>
        </div>
    </div>
{% elif field.field_type == field.GROUP  %}
    <div class="input-block">
        <div class="label col clearfix">
            <span class="float-left">{{forloop.counter}}. {{field.display_name}} </span>
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right" data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>   
    </div>     
    <div class="group-fields mt-3" data-id="{{field.pk}}" data-regex="{{field.group_expression}}">        
        <div class="group-item mt-2" data-group="{{field.pk}}">
            <div class="counter">
                {{field.field_group_verbose_name}} #<span>1</span>
            </div>
            {% for gf in field.get_ordered_group_fields %}  
                {% if gf.is_text_input %}
                    <div class="input-block">
                        <div class="label">{{forloop.counter}}. {{gf.display_name}}</div>
                        <div class="input-control">
                            <input required name="{{gf.formated_slug}}" type="{{gf.get_html_input_type}}" id="{{gf.formated_slug}}" class="required" autocomplete="off">
                        </div>
                    </div>        
                {% elif gf.field_type == gf.SELECT %}
                    <div class="input-block">
                        <div class="label">{{forloop.counter}}. {{gf.display_name}} </div>
                        <div class="input-control">
                            <select>
                                <option selected disabled>Selecciona un elemento de la lista</option>
                                {% for f in gf.documentfieldoption_set.all %}
                                    <option value="{{f.name}}">{{f.name}}</option>
                                {% endfor %}                
                            </select>
                        </div>
                    </div>
                {% endif %}
                {% if gf.help_text %}
                    <small>{{gf.help_text}}</small>
                {% endif %}
                {% if gf.youtube_help_video_link %}
                    <iframe class="mb-6" width="100%" height="200" src="{{gf.youtube_help_video_link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                {% endif %}                    
            {% endfor %}                   
        </div>
        <a class="mt-2 float-right group-adder" href="#" id="" data-group="{{field.pk}}">
            <i class="fas fa-plus-circle"></i>
            Añadir {{field.field_group_verbose_name}}
        </a>
    </div>
{% endif %}




   