
{% if field.is_text_input %}
    <div class="input-block">
        <div class="label col clearfix">
            <span class="float-left">{{forloop.counter}}. {{field.display_name}} </span>
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right" data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>        
        <div class="input-control col">
            <input required name="{{field.formated_slug}}" type="{{field.get_html_input_type}}" id="{{field.formated_slug}}"
            class="{% spaceless %}
                {% if field.is_date_input %}
                    date
                    {% if field.field_type == field.NATURAL_DATE %}
                        natural
                    {% else %}
                        pickadate
                    {% endif %}
                {% else %}
                    {% if field.field_type == field.PRICE %}
                        pricetag 
                    {% endif %}
                {% endif %}            
            required{% endspaceless %}" autocomplete="off">
        </div>             
        {% if field.youtube_help_video_link %}
            <div class="col">
                <a href="#" data-toggle="modal" data-target="#videoModal" data-url="{{field.youtube_help_video_link}}">Ver video</a>
            </div>
        {% endif %}    
    </div>        
{% elif field.field_type == field.SELECT %}
    <div class="input-block">
        <div class="label col clearfix">
            <span class="float-left">{{forloop.counter}}. {{field.display_name}} </span>
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right" data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>   
        <div class="input-control col">
            <select name="{{field.formated_slug}}">
                <option selected disabled>Selecciona un elemento de la lista</option>
                {% for f in field.documentfieldoption_set.all %}
                    <option value="{{f.name}}">{{f.name}}</option>
                {% endfor %}                
            </select>
        </div>
    </div>
{% elif field.field_type == field.SELECT_MULTIPLE %}
    <div class="input-block">
        <div class="label col clearfix mb-2">
            <span class="float-left">{{forloop.counter}}. {{field.display_name}} </span>
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right " data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>   
        {% for f in field.documentfieldoption_set.all %}
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-1">
                        <input type="checkbox" id="{{field.name}}__{{f.pk}}" value="{{f.name}}">
                    </div>
                    <div class="col-sm-11 pl-0">
                        <label for="{{field.name}}__{{f.pk}}">{{f.name}}</label>
                    </div>
                </div>              
            </div>
        {% endfor %}
    </div>
{% elif field.field_type == field.GROUP  %}
    <div class="input-block">
        <div class="label col clearfix">
            <span class="float-left">{{forloop.counter}}. {{field.display_name}} </span>
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right" data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>   
    </div>     
    <div class="group-fields mt-3 mb-3" data-name="{{field.formated_slug}}" data-regex="{{field.group_expression}}">        
        <div class="group-item mt-2" data-group="{{field.pk}}">
            {% for gf in field.get_ordered_group_fields %}  
                {% if gf.is_text_input %}
                    <div class="input-block">
                        <div class="label">{{forloop.counter}}. {{gf.display_name}}</div>
                        <div class="input-control">
                            <input required data-name="{{gf.formated_slug}}" name="{{gf.formated_slug}}" type="{{gf.get_html_input_type}}" id="{{gf.formated_slug}}" 
                            class="{% spaceless %}
                                {% if gf.is_date_input %}
                                    date
                                    {% if gf.field_type == gf.NATURAL_DATE %}
                                        natural
                                    {% else %}
                                        pickadate
                                    {% endif %}
                                {% else %}
                                    {% if gf.field_type == gf.PRICE %}
                                        pricetag 
                                    {% endif %}
                                {% endif %}            
                            required{% endspaceless %}" autocomplete="off">
                        </div>
                    </div>        
                {% elif gf.field_type == gf.SELECT %}
                    <div class="input-block">
                        <div class="label">{{forloop.counter}}. {{gf.display_name}} </div>
                        <div class="input-control">
                            <select data-name="{{gf.formated_slug}}" name="{{gf.formated_slug}}">
                                <option selected disabled>Selecciona un elemento de la lista</option>
                                {% for f in gf.documentfieldoption_set.all %}
                                    <option value="{{f.name}}">{{f.name}}</option>
                                {% endfor %}                
                            </select>
                        </div>
                    </div>
                {% endif %}
                {% if gf.help_text %}
                    <small>{{gf.help_text}}</small>
                {% endif %}
                {% if gf.youtube_help_video_link %}
                    <iframe class="mb-6" width="100%" height="200" src="{{gf.youtube_help_video_link}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                {% endif %}                    
            {% endfor %}                   
        </div>
        <a class="float-right group-adder" href="#" id="" data-group="{{field.pk}}">
            <i class="fas fa-plus-circle"></i>
            Añadir {{field.field_group_verbose_name}}
        </a>
    </div>
{% endif %}




   