{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <h1>{% trans "Change Password" %}</h1>
    <p>jello</p>
    <form method="POST" action="{% url 'account_change_password' %}" class="form-signin">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}

