@font-face {
    font-family: FontAwesome;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf);
}

/* PAGE & INPUT STYLING */
body {
    background: rgb(255, 255, 255);
    color: #002C55;
    overflow: hidden;
    font-family: 'Titillium Web', sans-serif;
}

.upform input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.upform input, select, textarea {
    color: #002C55;
}

.upform {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    max-width: 900px;
    margin: 200px auto 500px auto;
    padding: 0 150px;
}

  .upform .upform-main .input-block {
    padding: 30px 0 0;
    opacity: 0.25;
    cursor: default;
  }
    .upform .upform-main .input-block .label {
        display: block;
        font-size: 1em;
        line-height: 30px;
        color: rgb(8, 54, 97);
        font-weight: 800;
    }
    .upform .upform-main .input-block .input-control {
        margin: 20px 0;
        position: relative;
    }
    .upform .upform-main .input-block .input-control::after {
        font-family: 'FontAwesome';
        content: "\f059";
        position: absolute;
        top: -55px;
        right: 0px;
        font-size: 1.5em;
    }
    .upform .upform-main .input-block .input-control input[type=text] {
        outline-width: 0;
        width: 100%;
        font-size: 1.2em;
        border: 3px dashed rgb(150, 150, 150);
        padding: 10px;
        border-radius: 10px;
    }
  
    .upform .upform-main .input-block.active {
        opacity: 1;
    }
  
.upform .upform-footer {
margin-top: 60px;
}
  .upform .upform-footer .btn {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 20px;
  }

.info-col {
    height: 100vh;
    background-color: #f2f2f2;
    position: fixed;
}

.info-col p {
    line-height: 1.3em;
    font-weight: 300;
}

.form-col {
    min-height: 100vh;
    overflow-y: scroll;
}

.col-md-3 {
    background-color: #f2f2f2;
}

.group-fields {
    padding-left: 30px;
}
    .group-fields > .input-block{
        padding-top: 5px !important;
    }
    .group-fields p {
        font-weight: 300;
        opacity: 0.25;
    }