/* PAGE & INPUT STYLING */
body {
    background: rgb(255, 255, 255);
    color: #002C55;
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}

iframe {
    box-shadow: .8px .8px .8px #777;
}

.upform input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.upform input, select, textarea {
    color: #002C55;
}

.upform {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    max-width: 900px;
    margin: 200px auto 500px auto;
    padding: 0 150px;
}
@media screen and (max-width: 1024px){
    .upform {
        padding: 0 10px;
        margin: 20px auto 200px auto;
        overflow-x: hidden;
    }
}
    .upform .upform-main .input-block {
        padding: 40px 0 0;
        opacity: 0.25;
        cursor: default;
    }
    @media screen and (max-width: 1024px){
        .upform .upform-main .input-block {
            opacity: 1;
        }
    }
    .upform .upform-main .input-block .label {
        display: block;
        font-size: 1em;
        line-height: 1.5em;
        color: rgb(8, 54, 97);
        font-weight: 800;
    }
    .upform .upform-main .input-block .input-control {
        margin: 20px 0;
        position: relative;
    }
    .upform .upform-main .input-block .input-control input[type=text] {
        outline-width: 0;
        width: 100%;
        font-size: 1.2em;
        border: 3px dashed rgb(150, 150, 150);
        padding: 10px;
        border-radius: 10px;
    }
  
    .upform .upform-main .input-block.active {
        opacity: 1;
    }
  
.upform .upform-footer {
    margin-top: 60px;
}
  .upform .upform-footer .btn {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 20px;
  }

.info-col {
    height: 100vh;
    background-color: #f2f2f2;
    position: fixed;
}

.info-col  {
    padding: 10px 45px 20px 10px;
}
    .info-col p {
        line-height: 1.3em;
        font-weight: 300;
    }

.form-col {
    min-height: 100vh;
    overflow-y: scroll;
}

.col-md-4 {
    background-color: #f2f2f2;
}

.group-fields {
    padding-left: 30px;
}
    .group-fields > .input-block{
        padding-top: 5px !important;
    }
    .group-fields p {
        font-weight: 300;
        opacity: 0.25;
    }

.fas {
    font-size: 1.125em;
    line-height: 35px !important;
}

.group-item {
    box-shadow: .5px .5px 5px rgb(184, 184, 184);
    padding: 5px 20px;
    position: relative;
    border-radius: 10px;
}
    .group-item div.counter {
        position: absolute;
        right: 10px;
        top: 10px;
        font-weight: 300;
        font-size: .895em;
        opacity: 0.5;
    }

.deleter {
    color: rgb(210, 60, 60) !important;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.main {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}