a {
    cursor: pointer !important;
    color: inherit;
    text-decoration: inherit;
}

body {
    overflow-x: hidden !important;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none;
}

section {
    margin-top: 65px;
    padding-bottom: 5px;
}

.action-button__primary {
    font-size: 1em;
    font-weight: 600;
    color: #002c55;
    background-color: #FCD116;
    padding: .5em 2em;
    border-radius: 20px;
    margin: 2em auto;
}

.bg-transparent {
    background-color: transparent;
}

.swiper-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
    .swiper-container .swiper-slide img {
        width: 100%;
        height: auto;
    }
    .swiper-container .swiper-slide .description {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);     
        color: #fff;   
        z-index: 99999;
    }
        .swiper-container .swiper-slide .description h1 {
            font-weight: 800;    
            color: #fff !important;   
        }
            @media screen and (max-width: 414px) {
                .swiper-container .swiper-slide .description h1 {
                    display: none;
                }
            }
        .swiper-container .swiper-slide .description p {
            font-size: 1.5em;
            font-weight: 300;    
        }
            @media screen and (max-width: 414px) {
                .swiper-container .swiper-slide .description p {
                    display: none;  
                }
            }
        .swiper-container .swiper-slide .description i {
            font-size: 3.5em;
        }

    .swiper-container .swiper-mask-left {
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: rgb(0, 44, 85);
        opacity: 0.3;
        left: 0;
    }
        .swiper-container .swiper-mask-left:hover {
            cursor: url(/static/img/cursor-left.png), auto;
        }
        
    .swiper-container .swiper-mask-right {
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: rgb(0, 44, 85);
        opacity: 0.45;
        right: 0;
    }
        .swiper-container .swiper-mask-right:hover {
            cursor: url(/static/img/cursor-right.png), auto;
        }

@media screen and (max-width: 414px) {
    .row.categories {    
        margin-bottom: 2em;
    }
}


.categories .category-description h2,
.contract-info h2 {
    font-size: 3em;
    font-weight: 600;
    color: #002c55;
    margin-top: .5em;
    margin-bottom: .5em;
    border-width: 1em;
    border-bottom: 5px solid #002c55;
    line-height: 1em;
    padding-bottom: .3em;
    width: 1em;
}

.categories .category-description p {
    font-size: 1em;
    font-weight: 300;
    color: #000;
    opacity: 0.74;    
    padding-right: 15%;
    text-align: justify;
}
.categories .category-description.left {   
    padding-left: 12%;
}

@media screen and (max-width: 414px) {
    .categories .category-description {   
        padding-left: 12%;
    }
}

.categories .category-parallax {    
    height: 50vh;
}

@media screen and (max-width: 414px) {
    .categories .category-parallax {    
        height: 180px;
    }
}

.contextualMenu {
    height: 100vh;
    background-color: #5eccc4;
    padding-top: 5em;
    display: none;
    width: 100vw;
    z-index: 9999;
    position: absolute;
}
    .contextualMenu > div {
        padding-left: 30px !important;
    }
    .contextualMenu h4 {
        font-weight: 600;
        font-size: 2.5em;
        margin-bottom: .5em;
    }
    .contextualMenu h5 {
        padding: .1em 1em;
        border-radius: 20px;
        display: inline-block;
        font-size: 1em;
    }
    .contextualMenu h5:first-child {
        background-color: #002c55;
    }
    .contextualMenu h5:last-child {
        border: 1px solid #fff;
    }

.contact-form {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #002c55;
}
    .contact-form form {
        max-width: 50%;
        margin: 0 auto;
    }
    .contact-form form input {
        border-radius: 0;
    }
    .contact-form form button {
        margin-top: 1.2em;
        width: 100%;
        background-color: #5eccc4;
    }
    .form-group {
        margin-top: 0;
        margin-bottom: 0;
    }

.contract-info {
    background-color: #f4f3f3;
    padding: 50px auto;
}

.contract-info h2 {
    width: 6em;
}

.corporate-signature {
    height: 85px;
}
    .corporate-signature span {
        margin-top: 30px;
        display: inline-block;
        font-size: 1.2em;
        font-weight: 300;
    }
    .corporate-signature span img {
        margin-left: 15px;
    }

.dropleft,
.auth-buttons {
    display: inline-block;
}

.dropleft.subdrop a {
    padding-left: 1em;
}
    .dropleft.subdrop .dropdown-menu.show {
        left: -160px !important;
    }

.main-options {
    color: #FFF;
}
    .main-options a {
        margin-right: 2em;
    }
    .main-options a:last-child {
        font-size: 1em;
        font-weight: 600;
        color: #002c55;
        background-color: rgb(255, 255, 255);
        padding: .1em 1em;
        border-radius: 20px;
    }
    .main-options .divider {
        height: 1.2em;
        margin-right: 2em;
    }

.navbar {
    z-index: 99999;
}
    .navbar.scrolled {
        background-color: #FFF !important;
        border-bottom: 2px solid rgb(214, 211, 211);
        height: 80px;
    }

    .navbar.scrolled .navbar-toggler,
    .navbar.scrolled .main-options {
        color: #161616;
        transition: all 0.5s ease-in-out;
    }

.navbar img.logo {
    width: 60px;
    margin-left: 15px;
}

.navbar-toggler {
    color: #fff;
    z-index: 99999;
    background:transparent;
    font-size: 1.5em;
    outline: 0;
}

.rotate {
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.rotate.down {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#loadingAnimation {
    width: 100%;
    height: 100vh;
    z-index: 999999;
    text-align: center;
    position: absolute;
    background-color: #f2f6fa;
    -webkit-animation: slide 1s ease 3.5s forwards;
    animation: slide 1s ease 3.5s forwards;
}
    #loadingAnimation img {
        z-index: 999999;
        width: 220px;
        margin-top: 18%;
    }