
{% if field.is_text_input %}
    <div class="input-block {{field.get_linked_state}}" data-parent="{{field.get_linked_parent}}" data-question="{{field.get_linked_question}}" data-number="{% if forloop.counter %}{{forloop.counter}}{% else %}{{counter}}{% endif %}" data-parent-number="{% if number%}{{number}}{% endif %}">
        <div class="label col clearfix">
            {% if forloop.counter %}
                <span class="float-left">{{forloop.counter}}. {{field.display_name}}</span>
            {% else %}
                <span class="float-left">{% if number%}{{number}}.{% endif %}{{counter}}. {{field.display_name}}</span>
            {% endif %}
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right" data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>
        <div class="input-control col">
            <input required name="{{field.formated_slug}}" type="{{field.get_html_input_type}}" id="{{field.formated_slug}}"
            class="{% spaceless %}
                {% if field.is_date_input %}
                    date
                    {% if field.field_type == field.NATURAL_DATE %}
                        natural
                    {% else %}
                        pickadate
                    {% endif %}
                {% else %}
                    {% if field.field_type == field.PRICE %}
                        pricetag
                    {% endif %}
                {% endif %}
            required{% endspaceless %}" autocomplete="off">
        </div>
        {% if field.youtube_help_video_link %}
            <div class="col">
                <a href="#" data-toggle="modal" data-target="#videoModal" data-url="{{field.youtube_help_video_link}}">Ver video</a>
            </div>
        {% endif %}
    </div>
{% elif field.field_type == field.SELECT or field.field_type == field.DYNAMIC_SELECT %}
    <div class="input-block {{field.get_linked_state}}" data-parent="{{field.get_linked_parent}}" data-question="{{field.get_linked_question}}" data-number="{% if forloop.counter %}{{forloop.counter}}{% else %}{{counter}}{% endif %}" data-parent-number="{% if number%}{{number}}{% endif %}">
        <div class="label col clearfix">
            {% if forloop.counter %}
                <span class="float-left">{{forloop.counter}}. {{field.display_name}} </span>
            {% else %}
                <span class="float-left">{% if number%}{{number}}.{% endif %}{{counter}}. {{field.display_name}} </span>
            {% endif %}
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right" data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>
        <div class="input-control col">
            <select name="{{field.formated_slug}}" class="{% if field.field_type == field.DYNAMIC_SELECT %}dynamic{% endif %}" required="required">
                <option selected disabled>Selecciona un elemento de la lista</option>
                {% for f in field.documentfieldoption_set.all %}
                    <option value="{{f.name}}" data-id="{{f.pk}}">{{f.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% elif field.field_type == field.SELECT_MULTIPLE %}
    <div class="input-block preventForming {{field.get_linked_state}}" data-parent="{{field.get_linked_parent}}" data-question="{{field.get_linked_question}}" data-number="{% if forloop.counter %}{{forloop.counter}}{% else %}{{counter}}{% endif %}" data-parent-number="{% if number%}{{number}}{% endif %}">
        <div class="label col clearfix mb-2">
            {% if forloop.counter %}
                <span class="float-left">{{forloop.counter}}. {{field.display_name}} </span>
            {% else %}
                <span class="float-left">{% if number%}{{number}}.{% endif %}{{counter}}. {{field.display_name}} </span>
            {% endif %}
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right " data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>
        <input type="hidden" name="{{field.formated_slug}}">
        {% for f in field.documentfieldoption_set.all %}
            <div class="col mb-2">
                <div class="row">
                    <div class="checkbox-item col-sm-1">
                        <input type="checkbox" class="multiple-checkbox-fields" data-parent="{{field.formated_slug}}" name="{{field.formated_slug}}__{{f.pk}}" id="{{field.formated_slug}}__{{f.pk}}" value="{{f.name}}">
                    </div>
                    <div class="col-sm-11 pl-0">
                        <label for="{{field.name}}__{{f.pk}}">{{f.name}}</label>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% elif field.field_type == field.GROUP  %}
    <div class="input-block {{field.get_linked_state}}" data-parent="{{field.get_linked_parent}}" data-question="{{field.get_linked_question}}" data-number="{% if forloop.counter %}{{forloop.counter}}{% else %}{{counter}}{% endif %}" data-parent-number="{% if number%}{{number}}{% endif %}">
        <div class="label col clearfix">
            {% if forloop.counter %}
                <span class="float-left">{{forloop.counter}}. {{field.display_name}} </span>
            {% else %}
                <span class="float-left">{% if number%}{{number}}.{% endif %}{{counter}}. {{field.display_name}} </span>
            {% endif %}
            {% if field.help_text %}
                <i class="fas fa-question-circle float-right" data-toggle="tooltip" data-placement="left" title="{{field.help_text}}"></i>
            {% endif %}
        </div>
    </div>
    <div class="group-fields mt-3 mb-3" data-name="{{field.formated_slug}}" data-pk="{{field.pk}}" data-regex="{{field.group_expression}}">
        <div class="group-item mt-2" data-group="{{field.pk}}">
            {% for gf in field.get_ordered_group_fields %}
                {% include 'document_form/fields_fgroup.html' %}
            {% endfor %}
        </div>
        <a class="float-right group-adder" href="#" id="" data-group="{{field.pk}}">
            <i class="fas fa-plus-circle"></i>
            Añadir {{field.field_group_verbose_name}}
        </a>
    </div>
{% endif %}




