<p style="text-align:center"><strong>CONTRATO COMERCIAL PARA S.A.S</strong></p>

<p style="text-align:center"><strong>{{nombre_de_contratante_contrato_comercial_para_sas}}</strong></p>

<p>En este contrato, la empresa&nbsp;{{nombre_de_contratante_contrato_comercial_para_sas}}&nbsp;realizar&aacute; un contrato comercial con&nbsp;{{nombre_de_contratista_contrato_comercial_para_sas}}.&nbsp;</p>

<p>{% if prologo_contrato_comercial_para_sas %}</p>

<p style="text-align:center"><strong>Art&iacute;culo <input name="dynamic_counter" type="button" value="dynamic_counter" />) PROLOGO</strong></p>

<p>Esta secci&oacute;n es opcional, el usuario podr&aacute; colocar, por ejemplo, el c&oacute;digo del pr&oacute;logo, es decir, un campo especial para &eacute;ste art&iacute;culo, cuyo valor es:&nbsp;{{codigo_del_prologo_prologo_contrato_comercial_para_sas}}. Este pr&oacute;logo hace parte de la empresa&nbsp;<abbr title="Nombre de contratante">{{nombre_de_contratante_contrato_comercial_para_sas}}</abbr></p>

<p>{% endif %}</p>

<p style="text-align:center"><strong>Art&iacute;culo&nbsp;<input name="dynamic_counter" type="button" value="dynamic_counter" />) DEBERES</strong></p>

<p>Lorem ipsum&nbsp;Lorem ipsumLorem ipsumLorem ipsum&nbsp; egfergrgr r4grghrhrhrghrhrrhrgr rgrgrgrgr grhrgrgrgrgrgrgrg</p>

<p>{% if derechos_contrato_comercial_para_sas %}</p>

<p style="text-align:center"><strong>Art&iacute;culo&nbsp;<input name="dynamic_counter" type="button" value="dynamic_counter" />) DERECHOS</strong></p>

<p>Esta secci&oacute;n es opcional, el usuario podr&aacute; colocar, por ejemplo, el c&oacute;digo del derecho, es decir, un campo especial para &eacute;ste art&iacute;culo, cuyo valor es:&nbsp;{{codigo_del_derecho_derechos_contrato_comercial_para_sas}}.</p>

<p>{% endif %}</p>

<p>&nbsp;</p>

<p>&nbsp;</p>