<p style="text-align:center"><strong>CONTRATO COMERCIAL PARA S.A.S</strong></p>

<p style="text-align:center"><strong><abbr title="Nombre de contratante">{{nombre_de_contratante_contrato_comercial_para_sas}}</abbr></strong></p>

<p>En este contrato, la empresa&nbsp;<abbr title="Nombre de contratante">{{nombre_de_contratante_contrato_comercial_para_sas}}</abbr>&nbsp;realizar&aacute; un contrato comercial con&nbsp;<abbr title="Nombre de contratista">{{nombre_de_contratista_contrato_comercial_para_sas}}</abbr>.</p>

<p>&nbsp;</p>