{% load static %}
{% load socialaccount %}
<!-- Modal Forget Pass -->
<div class="modal fade" id="modal-forget" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-around">
                        <div class="col-10">
                            <h4 class="modal-title" id="modal-label">Recuperar contraseña</h4>
                        </div>
                        <div class="col-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <form method="POST" id="forget" class="form-horizontal">
                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <label class="control-label">Correo Electrónico*</label>
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" name="email"
                                        data-validation="email" data-validation-error-msg="Debes ingresar un email válido"/>
                                    </div>
                                </div>

                                <p class="text-right">
                                    <a href="#modal-login" class="forgot-pass" data-toggle="modal" data-dismiss="modal">Iniciar sesión</a>
                                </p>

                                <p class="text-center" style="font-size: 0.8em;color: #999">
                                    Ingresa tu correo electrónico y se te enviará un link para la recuperación de tu contraseña,
                                </p>

                                <div class="text-center">
                                    <input type="submit" id="reg_submit_forget" value="Enviar"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>