{% extends 'webclient/base.html' %}
{% load humanize %}
{% load static %}

{% block nav_class %}
    class="navbar scrolled"
{% endblock %}

{% block content %}
<div class="container checkout-resume">
    <div class="row body-summary justify-content-between">
        <div class="col-md-8">
            <div class="row header">
                <div class="col-12">
                    <div class="row justify-content-around">
                        <div class="col-md-8">
                            <img src="{% static 'img/checkout.png' %}" width="40" height="40" alt="">
                            <span class="resume-title">Resumen de la compra</span>
                        </div>
                        <div class="col-md-3">
                            <span class="resume-subtitle">Plan básico</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between content">
                <div class="col-md-5 doc-content">
                    <span class="doc-title">Título Documento</span>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                            erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat. Duis</p>
                    <span class="doc-price">$ 100.000</span>
                </div>
                <div class="col-md-5 doc-content">
                    <span class="doc-title">Título Documento</span>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                            erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat. Duis</p>
                    <span class="doc-price">$ 100.000</span>
                </div>
                <div class="col-md-5 doc-content">
                    <span class="doc-title">Título Documento</span>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
                            erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
                            tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                            consequat. Duis</p>
                    <span class="doc-price">$ 100.000</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 pl-md-5">
            <div class="row price">
                <div class="col-12">
                    <span class="resume-title">Resumen del pedido:</span>
                    <div class="container-fluid content-resume mb-3">
                        <div class="row">
                            <div class="col-12 count-docs">
                                <span>
                                    3 DOCUMENTOS
                                </span>
                            </div>
                        </div>
                        <div class="row total-price">
                            <div class="col-lg-4 align-self-center">
                                <span>Total</span>
                            </div>
                            <div class="col-lg-8 align-self-center">
                                <span style="float: right;">$ 200.000</span>
                            </div>
                        </div>
                    </div>
                    
                    <form method="POST" action="{{url}}">
                        {% csrf_token %}
                        <input name="merchantId" type="hidden" value="{{merchantId}}" >
                        <input name="accountId" type="hidden" value="{{accountId}}">
                        <input name="description" type="hidden" value="{{description}}">
                        <input name="referenceCode" type="hidden" value="{{referenceCode}}">
                        <input name="amount" type="hidden" value="{{amount}}">
                        <input name="tax" type="hidden" value="{{tax}}">
                        <input name="taxReturnBase" type="hidden" value="{{taxReturnBase}}">
                        <input name="currency" type="hidden" value="{{currency}}">
                        <input name="signature" type="hidden" value="{{signature}}">
                        <input name="test" type="hidden" value="{{test}}">
                        <input name="buyerEmail" type="hidden" value="{{buyerEmail}}">
                        <input name="responseUrl" type="hidden"  value="{{responseUrl}}" >
                        <input name="confirmationUrl" type="hidden" value="{{confirmationUrl}}">
                        
                        <button class="btn btn-pay" type="submit">Continuar <i class="fas fa-greater-than"></i></button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="row footer-summary mb-4">
        <div class="col-12 pay-methods">
            <span>Opciones de pago</span>
        </div>
        <div class="col-12 pay-container">
            <div class="container mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col-12 pay-name">
                            <span>Tarjétas de crédito</span>
                        </div>
                        <div class="col-12">
                            <ul>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/visa.png' %}" width="50" height="50" alt="visa logo" ></li>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/tarjeta-mastercard.png' %}" width="50" height="50" alt="visa logo" ></li>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/club-de-los-comensales.png' %}" width="50" height="50" alt="visa logo" ></li>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/american-express.png' %}" width="50" height="50" alt="visa logo" ></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-12 pay-name">
                            <span>Efectivo</span>
                        </div>
                        <div class="col-12">
                            <ul>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/efecty.png' %}" width="80" height="50" alt="visa logo" ></li>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/img_sured.png' %}" width="80" height="50" alt="visa logo" ></li>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/Logo-baloto.png' %}" width="80" height="50" alt="visa logo" ></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-12 pay-name">
                            <span>Pago en bancos</span>
                        </div>
                        <div class="col-12">
                            <ul>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/245px-BancoDavidenda.png' %}" width="80" height="80" alt="visa logo" ></li>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/img-banco-de-bogota.png' %}" width="80" height="50" alt="visa logo" ></li>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/1280px-Grupo_Aval_logo.svg.png' %}" width="80" height="50" alt="visa logo" ></li>
                                <li><img class="img-responsive" src="{% static 'img/pay-methods/Logo_Bancolombia.svg.png' %}" width="80" height="50" alt="visa logo" ></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block nav-script%}
{% endblock %}