{% load humanize %}
{% load static %}
{% load socialaccount %}
{% load cookielaw_tags %}


<!DOCTYPE html>
<html lang="es">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="Tratum, documentos legales online">
        <meta name="author" content="Apptitud">

        <link rel="shortcut icon" href="{% static 'img/logo/favicon.png' %}">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
              integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
              crossorigin="anonymous"
              type="text/css">
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
            integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
            crossorigin="anonymous"
            type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/shards.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/site.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/tratum.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap-4-navbar.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'cookielaw/css/cookielaw.css' %}" type="text/css">
        <title>Tratum</title>
        {% block extra_css %}
        {% endblock %}
    </head>

    <body>
        <!-- HEADER -->
        <header>
            <div class="pos-f-t">
                <div class="contextualMenu">
                    <div class="p-4">
                        <i class="fas fa-times navbar-toggler"></i>
                        <h4 class="text-white">
                            <a href="/">Inicio</a>
                        </h4>
                        <h4 class="text-white">
                            <a href="{% url 'webclient:category_documents' path='' %}">Tienda de documentos</a>
                        </h4>
                        {% if request.user.is_authenticated %}
                            <h4 class="text-white">
                                <a href="{% url 'webclient:user-documents' %}">Mis documentos</a>
                            </h4>
                            <h4 class="text-white">
                                <a href="{% url 'webclient:profile' %}">Mi cuenta</a>
                            </h4>
                        {% endif %}
                        <div class="mt-5">
                            {% if request.user.is_anonymous %}
                                <h5 class="text-white">
                                    <a data-toggle="modal" data-target="#modal-login">Iniciar sesión</a>
                                </h5></br>
                                <h5 class="text-white">
                                    <a data-toggle="modal" data-target="#modal-signup">Registrarse</a>
                                </h5>
                            {% else %}
                                <h5 class="text-white">
                                    <span>Hola, {{request.user.first_name}}</span>
                                    <a href="/logout/" id="Logout">Cerrar sesión</a>
                                </h5></br>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="contextualMenuMobile">
                    <div class="p-4-mobile">
                        <i class="fas fa-times navbar-toggler-mobile"></i>
                        <h4 class="text-white">
                            <a href="/">Inicio</a>
                        </h4>
                        <h4 class="text-white">
                            <a href="{% url 'webclient:about-us' %}">¿Qué es Tratum?</a>
                        </h4>
                        <h4 class="text-white">
                            <a href="{% url 'webclient:faq' %}">Preguntas frecuentes </a>
                        </h4>
                        <h4 class="text-white">
                            <a href="{% url 'webclient:category_documents' path='' %}">Tienda de documentos</a>
                        </h4>
                        {% if request.user.is_authenticated %}
                            <h4 class="text-white">
                                <a href="{% url 'webclient:user-documents' %}">Mis documentos</a>
                            </h4>
                            <h4 class="text-white">
                                <a href="{% url 'webclient:profile' %}">Mi cuenta</a>
                            </h4>
                        {% endif %}
                        <div class="mt-5">
                            {% if request.user.is_anonymous %}
                                <h5 class="text-white">
                                    <a data-toggle="modal" data-target="#modal-login">Iniciar sesión</a>
                                </h5></br>
                                <h5 class="text-white">
                                    <a data-toggle="modal" data-target="#modal-signup">Registrarse</a>
                                </h5>
                            {% else %}
                                <h5 class="text-white">
                                    <span>Hola, {{request.user.first_name}}</span>
                                    <a href="/logout/" id="Logout">Cerrar sesión</a>
                                </h5></br>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <nav {% block nav_class %}class="navbar fixed-top bg-transparent" {% endblock %}>
                    <div>
                        <i class="fas fa-bars rotate navbar-toggler-mobile"></i>
                        <a href="/">
                            <img class="logo" src="{% static 'img/logo/tratum.png' %}">
                        </a>
                    </div>

                    <div class="float-right main-options d-none d-lg-block">
                        <div class="dropleft noleftbar">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorías <span class="toright"></span></a>
                            <div class="dropdown-menu">
                                {% for c in context_categories %}
                                    {% include 'webclient/dropdown.html' %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="auth-buttons">
                                <a href="{% url 'webclient:category_documents' path='' %}">Tienda</a>
                                <a href="/">Inicio</a>
                                <a href="{% url 'webclient:about-us' %}">¿Qué es Tratum?</a>
                                <a href="{% url 'webclient:faq' %}">Preguntas frecuentes </a>
                            {% if request.user.is_anonymous %}
                                <a data-toggle="modal" data-target="#modal-signup">Registrarse</a>
                                <a data-toggle="modal" data-target="#modal-login">Iniciar sesión</a>
                            {% else %}
                                <div class="dropleft noleftbar">
                                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hola, {{request.user.first_name}} <span class="toright"></span></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">
                                            <div class="droprigth subdrop">
                                                 <a href="{% url 'webclient:profile' %}">Mi cuenta</a>
                                            </div>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <div class="droprigth subdrop">
                                                 <a href="{% url 'webclient:user-documents' %}">Mis documentos</a>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <a href="/logout/" id="Logout">Cerrar sesión</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- END HEADER -->

        <!-- CONTENT -->
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <!-- END CONTENT -->

        {% cookielaw_banner %}

        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-3 faq">
                        <small class="mb-2">Con el respaldo jurídico de</small>
                        <a href="https://gonzalezaldana.com/" target="_blank" class="mt-2">
                            <img src="{% static 'img/galogo.png' %}" width="100%"/>
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-3 link-col">
                        <a href="{% url 'webclient:about-us' %}">
                            ¿Quiénes somos?
                        </a>
                        <a data-toggle="modal" data-target="#modal-documents" >
                            Dinos que documentos necesitas
                        </a>
                        <a href="{% url 'webclient:faq' %}">
                            Preguntas Frecuentes
                        </a>

                        <a href="{% url 'webclient:glossary' %}">
                            Glosario
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-3 link-col">
                        <a href="{% url 'webclient:policies' 'privacy' %}">
                            Políticas de tratamiento de datos personales
                        </a>
                        <a href="{% url 'webclient:policies' 'terms' %}">
                            Términos y condiciones
                        </a>
                    </div>
                    <div class="col-sm-12 col-md-3 social text-right">
                        <a href="{{bussiness_info.facebook_url|default_if_none:''}}" class="text-white" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="{{bussiness_info.twitter_url|default_if_none:''}}" class="text-white" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="{{bussiness_info.instagram_url|default_if_none:''}}" class="text-white" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <div class="col mt-3">
                            <span class="white-text">{{bussiness_info.landing_contact}}</span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="col text-center">
                    <span>Tratum 2019 - Powered by
                        <a href="http://www.apptitud.co" target="_blank" class="underline">
                            <strong>Apptitud</strong>
                        </a>
                    </span>
                </div>
            </div>
        </footer>
        <!-- END FOOTER -->

        <!-- MODALS -->
        {% include "webclient/modals/login.html" %}
        {% include "webclient/modals/signup.html" %}
        {% include "webclient/modals/forgot_password.html" %}
        {% include "webclient/modals/new_document_request.html" %}
        <!-- END MODALS -->


        <!-- JS Files -->
        {% providers_media_js %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123601727-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-123601727-1');
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

        <script src='https://www.google.com/recaptcha/api.js'></script>

        <script src="{% static 'js/jquery-validator.js' %}"></script>
        <script src="{% static 'js/shards.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-4-navbar.js' %}"></script>
        <script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>

        <script>
            $.validate({
                modules : 'html5',
            });
        </script>

        {% if messages  %}
            {% for message in messages %}
                <script>
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-full-width",
                        "preventDuplicates": true,
                        "onclick": null,
                        "showDuration": "1000",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.info('{{message}}')
                </script>
            {% endfor %}
        {% endif %}

        {% block login_extra %}{% endblock login_extra %}

        <script type="text/javascript">
            function checkStrength(password) {
                var strength = 0
                if (password.length < 8) {
                    $('#result').removeClass()
                    $('#result').addClass('short')
                    $('#reg_submit_signup').attr('disabled', true)
                    $('#password2').attr('disabled', true);
                    return 'La contraseña debe tener mínimo 8 caractéres y por lo menos un caracter especial o letra en mayúscul'
                } else {
                    $('#password2').attr('disabled', false);
                }
                if (password.length > 7) strength += 1
                // If password contains both lower and uppercase characters, increase strength value.
                if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
                // If it has numbers and characters, increase strength value.
                if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
                // If it has one special character, increase strength value.
                if (password.match(/([!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
                // If it has two special characters, increase strength value.
                if (password.match(/(.*[!,%,&,@,#,$,^,*,?,_,~].*[!,%,&,@,#,$,^,*,?,_,~])/)) strength += 1
                // Calculated strength value, we can return messages
                // If value is less than 2
                if (strength < 2) {
                    $('#result').removeClass()
                    $('#result').addClass('weak')
                    $('#reg_submit_signup').attr('disabled', true)
                    return 'Débil'
                } else if (strength == 2) {
                    $('#result').removeClass()
                    $('#result').addClass('good')
                    return 'Buena'
                } else {
                    $('#result').removeClass()
                    $('#result').addClass('strong')
                    return 'Fuerte'
                }
            }

            function checkValid(password1, password2){
                if (password1 != password2){
                    $('#valid').removeClass()
                    $('#valid').addClass('nopass')
                    $('#reg_submit_signup').attr('disabled', true)
                    return 'Las contraseñas no coinciden'
                }
                else {
                    if(checkStrength(password1) != 'Débil'){
                        $('#valid').removeClass()
                        $('#reg_submit_signup').attr('disabled', false)
                        return ''
                    } else {
                        return 'La contraseña debe tener mínimo 8 caractéres y por lo menos un caracter especial o letra en mayúscula'
                    }

                }
            }

            $(document).ready(function() {
                $.each($('.dropdown-item'), function() {
                    if ($(this).children().length == 0){
                        $(this).remove();
                    }
                });

                $('.navbar-toggler').on('click', function(){
                    $('.rotate').toggleClass("down");
                    $('.contextualMenu').fadeToggle();
                    $('.logo').toggle();
                });

                $('.navbar-toggler-mobile').on('click', function(){
                    $('.rotate').toggleClass("down");
                    $('.contextualMenuMobile').fadeToggle();
                    $('.logo').toggle();
                });

                $('#password2').attr('disabled', true);

                {% block nav-script%}
                    $(window).scroll(function(){
                        var scroll = $(window).scrollTop();
                        if (scroll > 100) {
                            $(".navbar").addClass('scrolled');
                        }
                        else{
                            $(".navbar").removeClass('scrolled');
                        }
                    })
                    $('#password1').keyup(function() {
                        $('#result').html(checkStrength($('#password1').val()))
                        $('#valid').html(checkValid($('#password1').val(), $('#password2').val()))
                    })
                    $('#password2').keyup(function() {
                        $('#valid').html(checkValid($('#password1').val(), $('#password2').val()))
                    })
                {% endblock %}
            });

            axios.defaults.headers.common['X-CSRFToken'] = '{{csrf_token}}'
            axios.defaults.headers.common['Api-Key'] = '{{Api_Key}}'

            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": "{{csrf_token}}",
                    "Api-Key": "{{Api_Key}}"
                }
            });

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-full-width",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            $("#login").on('submit', function(ev){
                ev.preventDefault()
                data = new FormData($(this)[0])
                axios.post("{% url 'webclient:login' %}", data)
                    .then(function(response){
                        if (response.data.length > 0){
                            window.location.href = response.data
                        }
                    })
                    .catch(function(error){
                        toastr.error(error.response.data.error);
                    });
            });

            $('.q-title').on('click', function(){
                $(this).toggleClass('active');
            });

            $("#signup").on('submit', function(ev){
                ev.preventDefault()
                if (!$("#terms").is(':checked') ) {
                    toastr.error("Debes aceptar los términos y condiciones y las políticas de tratamiento de datos para terminar el proceso de registro")
                    $('#reg_submit_signup').attr('disabled', false);
                    return false;
                }
                $('#reg_submit_signup').attr('disabled', true)
                data = new FormData($(this)[0])
                axios.post("{% url 'webclient:signup' %}", data)
                    .then(function(response){
                        if (response.data.length > 0){
                            window.location.replace(response.data)
                        }
                    })
                    .catch(function(error){
                        toastr.error(error.response.data.error)
                        $('#reg_submit_signup').attr('disabled', false)
                    });

            });

            $("#forget").on('submit', function(ev){
                ev.preventDefault()
                $('#reg_submit_forget').attr('disabled', true)
                data = $(this).serialize(),
                axios.post("/accounts/password/reset/", data)
                    .then(function(response){
                        toastr.success("Se ha enviado un correo con el link de restablecimiento de tu contraseña.")
                        setTimeout(function(){
                            location.reload()
                        }, 1500);
                    })
                    .catch(function(error){
                        toastr.error("El correo electrónico no se encuentra registrado")
                        $('#reg_submit_signup').attr('disabled', false)
                    });
            });


            $("#contact_form").on('submit', function(ev){
                ev.preventDefault()
                $("#contact_form_submit").attr("disabled", "disabled");
                $("#contact_form_submit").text('Enviando...');
                data = new FormData($(this)[0])
                var form = $(this);
                axios.post("{% url 'webclient:contact-form' %}", data)
                    .then(function(response){
                        form[0].reset();
                        $("#contact_form_submit").text('Enviado');
                        window.location.replace('/');
                    })
                    .catch(function(error){
                        $("#contact_form_submit").removeAttr("disabled");
                        $("#contact_form_submit").text('Enviar');
                        toastr.error(error.response.data.error);
                    });
            });

            $("#new_doc_request_form").on('submit', function(ev){
                ev.preventDefault()
                $("#new_doc_request_form_submit").attr("disabled", "disabled");
                $("#new_doc_request_form_submit").text('Enviando...');
                data = new FormData($(this)[0])
                var form = $(this);
                axios.post("{% url 'webclient:contact-form' %}", data)
                    .then(function(response){
                        form[0].reset();
                        $("#new_doc_request_form_submit").text('Enviado');
                        window.location.reload();
                    })
                    .catch(function(error){
                        $("#new_doc_request_form_submit").removeAttr("disabled");
                        $("#new_doc_request_form_submit").text('Enviar');
                        toastr.error(error.response.data.error);
                    });
            });
        </script>

        {% block extra_js %}
        {% endblock %}
        <!-- END JS Files -->

    </body>
</html>