{% load static %}
<header>
    <div class="pos-f-t">
        <div class="contextualMenu">
            <div class="p-4">
                <i class="fas fa-times navbar-toggler"></i>
                <h4 class="text-white">
                    <a href="/">Inicio</a>
                </h4>
                <h4 class="text-white">
                    <a href="{% url 'webclient:category_documents' path='' %}">Tienda de documentos</a>
                </h4>
                {% if request.user.is_authenticated %}
                    <h4 class="text-white">
                        <a href="{% url 'webclient:user-documents' %}">Mis documentos</a>
                    </h4>
                    <h4 class="text-white">
                        <a href="{% url 'webclient:profile' %}">Mi cuenta</a>
                    </h4>
                {% endif %}
                <div class="mt-5">
                    {% if request.user.is_anonymous %}
                        <h5 class="text-white">
                            <a data-toggle="modal" data-target="#modal-login">Iniciar sesión</a>
                        </h5></br>
                        <h5 class="text-white">
                            <a data-toggle="modal" data-target="#modal-signup">Registrarse</a>
                        </h5>
                    {% else %}
                        <h5 class="text-white">
                            <span>Hola, {{request.user.first_name}}</span>
                            <a href="/logout/" id="Logout">Cerrar sesión</a>
                        </h5></br>
                    {% endif %}
                </div>
            </div>
        </div>
        <nav {% block nav_class %}class="navbar fixed-top bg-transparent" {% endblock %}>
            <div>
                <i class="fas fa-bars rotate navbar-toggler"></i>
                <a href="/">
                    <img class="logo" src="{% static 'img/logo-color-placeholder@2x.png' %}">
                </a>
            </div>

            <div class="float-right main-options d-none d-lg-block">
                <div class="dropleft noleftbar">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorías <span class="toright"></span><span class="divider">|</span></a>
                    <div class="dropdown-menu">
                        {% for c in context_categories %}
                            {% include 'webclient/dropdown.html' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="auth-buttons">
                    {% if request.user.is_anonymous %}
                        <a href="/">Inicio</a>
                        <a href="{% url 'webclient:about-us' %}">¿Qué es Tratum?</a>
                        <a href="{% url 'webclient:faq' %}">Preguntas frecuentes </a>
                        <a data-toggle="modal" data-target="#modal-signup">Registrarse</a>
                        <a data-toggle="modal" data-target="#modal-login">Iniciar sesión</a>

                    {% else %}
                        <span style="margin-right: 1em;">Hola, {{request.user.first_name}} </span>
                        <a href="/logout/" id="Logout">Cerrar sesión</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</header>